<div class="container">
    <div class="inner-container">
        <div class="banner">
            <h1 class="banner-title">Club Championship</h1>
        </div>
        <div class="team-info">
            <!-- <div class="results-table">
                <iframe scrolling="no" src="https://www.chessscotland.com/grading-results/event2024/Bellshill_CC_Club_Championship.html" frameborder="0"></iframe>
            </div> -->
            <div class="history">
                <ol *ngIf="selectedIndex === 1" class="history-list">
                    <a href="https://www.chessscotland.com/grading-results/event2024/Bellshill_CC_Club_Championship.html" target="_blank">2024</a>
                    <a href="https://www.chessscotland.com/grading-results/event2022/Bellshill_Club_Championship.html" target="_blank">2022</a>
                    <a href="https://www.chessscotland.com/grading-results/event2020/Bellshill_Club_Championship.html" target="_blank">2020</a>
                    <a href="https://www.chessscotland.com/grading-results/event2019/Bellshill_Club_Championship.html" target="_blank">2019</a>
                </ol>
                <ol *ngIf="selectedIndex === 2" class="history-list">
                </ol>
            </div>
        </div>
    </div>
</div>