<!-- <img class="home-image" src="assets/images/home-background.jpg"> -->

<div class="home-content">
    <div class="home-content-text">
        <h1>About Us</h1>  
        <p> 
            We are a chess club based in the Joe McKay Community 
            Centre in Bellshill, and meet on Monday nights of 
            September to April from 7.15pm - 10.15pm.  Click 
            below for further information such as membership 
            fees or contact details.
        </p>
        <button routerLink="/about">More About Us</button>
        <p>
            The club also takes part in the Glasgow, Lanarkshire, 
            and Dumbartonshire chess leagues. More information 
            useful for members or visiting team captains can be 
            found below.
        </p>
        <button routerLink="/competitions">Competitions</button>
    </div>
</div>
